version: "3.9"
services:
  db:
    image: postgres:16
    container_name: go_books_pg
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: booksdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U app -d booksdb"]
      interval: 5s
      timeout: 5s
      retries: 10

  adminer:
    image: adminer:4
    container_name: go_books_adminer
    ports:
      - "8081:8080"
    depends_on:
      - db

volumes:
  pgdata:
